<section class="card mb-3">
        <h2 class="card-title">{{user.first_name}}{{user.last_name}}</h2>
        <h2 class="card-title">{{user.date_of_birth}}</h2>
        {{#if user.profile_picture}}
        <img src="{{user.profile_picture}}" alt="{{user.profile_picture}}">
        {{/if}}
</section>

{{!-- The dashboard is where user will see all of the posts they've made as well as a button to create a new post --}}
<section id="create-post-section">
  <button class="btn btn-primary m-5" id="create-post-button">Create New Post</button>
</section>
{{#if posts.length}}
<div class="container">
  <section class="posts col">
    {{#each posts as |post|}}
    {{> post-details-dashboard}}
    {{/each}}
  </section>
  {{/if}}
</div>

<script src="/js/createPost.js"></script>
<script src="/js/deletePost.js"></script>