<input value="{{profile_picture}}" type="hidden" id="public_id" />
<section class="container my-5">

  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
      <form class="submit-profile-form">
        <!-- First Name -->
        <div class="form-outline mb-4">
          <label class="form-label" for="first-name">First Name</label>
          <input
            type="text"
            id="first-name"
            class="form-control"
            placeholder="First Name"
            value="{{first_name}}"
            required
          />
        </div>
        <!-- Last Name -->
        <div class="form-outline mb-4">
          <label class="form-label" for="last-name">Last Name</label>
          <input
            type="text"
            id="last-name"
            class="form-control"
            placeholder="Last Name"
            value="{{last_name}}"
            required
          />
        </div>

        <!-- Post content text area -->
        <div class="form-outline mb-4">
          <label class="form-label" for="date-of-birth">Date of Birth </label>
          <input
            class="form-control"
            type="date"
            id="date-of-birth"
            value="{{date_of_birth}}"
            required
          />
        </div>

        <!-- Post file area -->
        <div class="form-outline mb-4">
          <label class="form-label" for="proflie-picture">Profile Picture</label>
          <input
            type="file"
            id="proflie-picture"
            class="form-control"
            placeholder="file"
          />

        </div>        
        <div class="form-outline mb-4 d-flex justify-content-center" id="show-picture">
          {{#if url}}
          <img src="{{url}}" class="img-fluid" alt="proflie picture" id="picture" />
          {{/if}}
        </div>
        
        <!-- Comment Submit button -->
        <div class="form-outline mb-4 d-flex justify-content-center">
          <button
            type="submit"
            class="btn btn-success btn-block mb-4 comment-submit-button"
            id="profile-submit-button"
          >Edit Profile</button>
        </div>

      </form>
    </div>
  </div>

</section>
<script src="/js/editProfile.js"></script>